SpringSecurityJiraAuthProvider/.classpath
SpringSecurityJiraAuthProvider/.project
SpringSecurityJiraAuthProvider/.settings/
SpringSecurityJiraAuthProvider/target-eclipse/
SpringSecurityJiraAuthProvider/target/
